apiVersion: v1
kind: Secret
metadata:
  name: $PDB_SECRET
  namespace: $PDB_NAMESPACE
type: Opaque
data:
  sysadmin_user: $sysadmin_user_encoded
  sysadmin_pwd: $db_pass_encoded
  webserver_user: $webserver_user_encoded
  webserver_pwd: $db_pass_encoded