apiVersion: v1
kind: Secret
metadata:
  name: $CDB_SECRET
  namespace: oracle-database-operator-system
type: Opaque 
data: 
  ords_pwd: $db_pass_encoded
  sysadmin_pwd: $db_pass_encoded
  cdbadmin_user: $cdbadmin_user_encoded
  cdbadmin_pwd: $db_pass_encoded
  webserver_user: $webserver_user_encoded
  webserver_pwd: $db_pass_encoded