ALTER SESSION SET "_oracle_script"=true;
DROP USER $CDB_ADMIN_USER cascade;
CREATE USER $CDB_ADMIN_USER IDENTIFIED BY $DB_PASSWORD CONTAINER=ALL ACCOUNT UNLOCK;
GRANT SYSOPER TO $CDB_ADMIN_USER CONTAINER = ALL;
GRANT SYSDBA TO $CDB_ADMIN_USER CONTAINER = ALL;
GRANT CREATE SESSION TO $CDB_ADMIN_USER CONTAINER = ALL;

ALTER SYSTEM SET db_create_file_dest = '/opt/oracle/oradata';

col username        for a30
col account_status  for a30
select username, account_status from dba_users where username in ('ORDS_PUBLIC_USER','$CDB_ADMIN_USER','APEX_PUBLIC_USER','APEX_REST_PUBLIC_USER');